[buildout]
develop = .
parts = test py
eggs =
    docutils
    Sphinx
    repoze.formapi

[test]
recipe = zc.recipe.testrunner
eggs = 
  repoze.formapi

[py]
recipe = zc.recipe.egg
eggs = ${buildout:eggs}
interpreter = py
scripts = sphinx-build
